@model ProjetoMVC.Models.Comentarios

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Comentarios</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Comentario" class="control-label"></label>
                <input asp-for="Comentario" class="form-control" />
                <span asp-validation-for="Comentario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEquipamentos" class="control-label"></label>
                <select asp-for="IdEquipamentos" class ="form-control" asp-items="ViewBag.IdEquipamentos"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdPerfis" class="control-label"></label>
                <select asp-for="IdPerfis" class ="form-control" asp-items="ViewBag.IdPerfis"></select>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
